<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact Form</title>
<link rel="stylesheet" href="{{url_for('static',filename='style/call.css')}}">
</head>
<body> <header>
    <nav>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>CropVision</h1>
       <p style="color: black;background-color: rgba(207, 207, 207, 0.866);">CropVision Welcomes you on our website, Hope you are earning well from your farm 
          but we are here for you to provide some suggetions about your crop cultivation 
           We recommends you to which crop you should grow in your farm for better yields. Its 
           very easy to predict which crop you should grow on the basis of your soil nutrients 
            just you need to know your soil nutrients for this you can test your soil in lab.</p>
    <br>
       <a href=" ">Let's Start New Journey With CropVision</a>
          <br><br><br><br><br>
           <div class="content-box">
             <p>
                <h3>About Crop Vision</h3>
               Welcome to Crop Vision, where the future of agriculture meets cutting-edge technology!<br> Crop Vision is an innovative machine learning project designed to transform the agricultural landscape by providing farmers and agricultural experts with precise crop predictions based on a comprehensive analysis of critical data such as soil nitrogen levels, environmental conditions, and other influential factors.<br> Our goal is to empower farmers to make informed decisions, enhance productivity, and promote sustainable farming practices.

           <h3>Introduction to Crop Vision</h3>

            In the rapidly evolving world of agriculture, traditional methods are often insufficient to meet the growing demands for food production and environmental sustainability. <br>Crop Vision addresses this challenge by leveraging the power of machine learning to predict the most suitable crops for specific land areas.<br> By analyzing a multitude of data points, including soil composition, weather patterns, and other environmental variables, our platform delivers actionable insights that can significantly improve crop yield and quality.

           <h3> Our Mission</h3>

            At Crop Vision, our mission is to revolutionize agriculture through the integration of advanced technology.<br> We aim to provide farmers with the tools they need to maximize productivity while minimizing environmental impact.<br> Our platform is designed to enhance food security, reduce agricultural waste, and promote sustainable farming practices that are essential for the health of our planet.
             </p>
              
           </div>
       </div>
     </body>
</html> 